<!DOCTYPE html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="POST" action="/register">
        <label>Name:</label>
        <input type="text" id="username" name="name" required><br>

        <label>Email:</label>
        <input type="text" id="email" name="email" required><br>

        <label>studentid:</label>
        <input type="text" id="studentid" name="studentid" required><br>

        <button type="submit">Register</button>
    </form>
</body>
</html>